:root {
    --Background: #ffffff;
    --Ruban: hsl(204, 100%, 50%);
    --Couleur-Des-Lettres: hsl(255, 255%, 255%);
    --Couleur-anexe: hsl(237, 100%, 28%);
    --Couleur-hover: hsl(34, 20%, 79%);
}

body {
    background-color: var(--Background);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
    opacity: 1;

}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}


.PhotoLycée {
    position: absolute;
    top: 70px;
    border-radius: 10px;

}
h1 {
   position: absolute;
   margin: 0 auto;
   z-index: 1;
   top: 20px;
   font-size:35px;
}